<% provide(:title, 'Vendors') %>
<h1>All Vendors</h1>
<% if current_user.admin? %>
  <%= form_tag import_vendors_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>

<% provide(:title, 'All vendors') %>
<%= will_paginate %>
<ul class="vendors">
<% @vendors.each do |vendor| %>
  <li><%= link_to vendor.business_name, vendor %></li>
<% end %>
</ul>

<%= will_paginate %>
