<% provide(:title, @user.name)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <em><%= @user.name %></em>
      </h1>
    </section>
    <address><%= @user.email %></address>
  </aside>

  <%= render 'shared/comments', object: @user %>
  
  
  <div class="col-md-8">
    <h3>
      Last check-in time: <%= Time.zone.now %>
    </h3>
  </div>
  
  <div class="col-md-8">
    <h3>
      <%=link_to "Visited Vendors", '#' %>
    </h3>
  </div>
  
  <div class="col-md-8">
    <h3>
      <%=link_to "Favourite Vendors", '#' %>
    </h3>
  </div>
  
  <div class="col-md-8">
    <h3>
      <%=link_to "Linked Accounts", '#' %>
    </h3>
  </div>
  
</div>
