<% provide(:title, @user.name)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <em><%= @user.name %></em>
        <address><%= @user.email %></address>
      </h1>
    </section>
    <section class="last_visited_vendor">
      <h1>
        Last check-in time: <%= Time.zone.now%>
      </h1>
    </section>
    <section class="comments">
      <h1>
        <%=link_to "Comments", '#' %>
      </h1>
    </section>
  </aside>
</div>