<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="user_nav">  
  <% if current_user %>  
    Welcome, <%= omniauthuser.name %>! 
    <%= link_to "Sign Out", log_out %>  
  <% else %>  
      <%= link_to "Sign in with facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>  
</div> 